{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

encryption = "gpg"
[gpg]
  recipient = "mfw78@nullis.xyz"
[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[data]
  email = "mfw78@nullis.xyz"
  codespaces = {{ $codespaces }}
{{- if not $codespaces -}}{{/* Aspects to only include if NOT codespaces*/}}
{{- $email := promptStringOnce . "email" "Email/GPG address" -}}
{{- $passRepo := promptStringOnce . "passRepo" "Password store repository" }}
[data.machine_settings.achilles]
  scaling_factor = 2
  primary_display = "eDP-1"
  layout = "dwindle"
[data.machine_settings.anouk]
  scaling_factor = 1
  primary_dipslay = "DP-4"
  layout = "master"

[hooks.read-source-state.pre]
command = "/home/mfw78/.local/share/chezmoi/.install-password-manager.sh"
args = [{{ $email | quote }}, {{ $passRepo | quote }}]
{{- end }}

