{{- $ip := "" }}
{{- if eq .chezmoi.hostname "anouk" }}
  {{- $ip = "127.0.0.1" }}
{{- else }}
  {{- $ip_with_subnet := split "/" (passFields "Network/WireGuard/anouk").address }}
  {{- $ip = $ip_with_subnet._0 }}
{{- end -}}
# Files
data.location=~/.task

forcecolor=on

# Contexts
context.work=-buy -reading -icebox
context.holidays=+holidays +leave -icebox

# User defined attributes (UDAs)
news.version=3.1.0
sync.server.client_id={{ (passFields "Personal/Apps/taskwarrior").client_id }}
sync.encryption_secret={{ pass "Personal/Apps/taskwarrior" }}
sync.server.url=http:\/\/{{ $ip }}:53589

# Timezone settings
dateformat=Y-M-D H:N
dateformat.annotation=Y-M-D H:N
dateformat.report=Y-M-D H:N
